<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/public/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>

        $(document).ready(function () {

            $("#btnLogin").on('click', function () {
                var email = $("#emailLG").val();
                var pass = $("#pass").val();
                $('#thongbaodangnhap').html('Đang đăng nhập...');
                $.ajax({
                    url: '/login?email=' + email + '&pass=' + pass,
                    type: 'get',
                    success: function (data) {
                        console.dir(data);
                        if (data.data === 'ok') {
                            window.location.href = '/';
                        }else{
                            $('#thongbaodangnhap').html('Sai thông tin hoặc chưa xác nhận mail.');
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                })

            });

            $("#btnRegister").on('click', function () {
                var email = $("#emailRG").val();
                var name = $("#name").val();
                var duongDan = $("#duongdan").val();
                var thongBaoDangKi = $("#thongbaodangki");
                thongBaoDangKi.html('Đợi xíu ba ơi...');
                if(duongDan===''){
                    thongBaoDangKi.html('Chưa chọn hình kìa cha nội');
                }else{
                    $.ajax({
                        url: '/register?email=' + email + '&name=' + name + '&duongdan=' + duongDan,
                        type: 'get',
                        success: function (data) {
                            if (data.data === 'ok') {
                                thongBaoDangKi.html('Vào mail xác nhận mới đăng nhập được');
                            }
                        },
                        error: function (err) {
                            alert(err.message);
                        }
                    });
                }

            });

            $('#upload').on('change', function () {
                var file_data = $("#upload").prop("files")[0];
                var form_data = new FormData();
                var fileName = Date.now() + file_data.name;
                form_data.append('imgUploader', file_data);
                $('#hienthi').attr('alt', 'Đang tải ảnh lên. Từ từ đã');
                $.ajax({
                    url: "https://uploadserver.azurewebsites.net/api/Upload/",
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (data) {
                        $('#duongdan').val('https://uploadserver.azurewebsites.net/img?fileName=' + data);
                        $('#hienthi').attr('src', 'https://uploadserver.azurewebsites.net/img?fileName=' + data);
                    }, error: function (err) {
                        $('#hienthi').attr('alt', 'Có lỗi xảy ra !');
                    }
                });
            });


            $("#btnForget").on('click', function () {
                var email = $("#email").val();

                $.ajax({
                    url: '/forget?email=' + email,
                    type: 'get',
                    success: function (data) {
                        alert(data);
                    },
                    error: function (err) {
                        alert(err.message + "");
                    }
                })

            });


        });

    </script>
    <style>
        input {
            border-bottom: 10px;
        }
    </style>
    <title>Đăng nhập</title>
</head>
<body>
<div class="container">

    <div class="col-lg-6">
        <input type="text" class="form-control" id="emailLG" placeholder="Email" required><br>
        <input type="text" class="form-control" id="pass" placeholder="Mật khẩu" required><br>
        <p id="thongbaodangnhap"></p>
        <button id="btnLogin" class="btn btn-success">Đăng nhập</button>
    </div>


    <div class="col-lg-6">
        <input type="text" class="form-control" id="emailRG" placeholder="Email"><br>
        <input type="text" class="form-control" id="name" placeholder="Tên của bạn"><br>

        <input type="file" id="upload" value="Chọn ảnh đại diện">
        <p style="display: none" id="duongdan"></p>
        <img src="" id="hienthi">
        <hr>
        <p id="thongbaodangki"></p>
        <button class="btn btn-primary" id="btnRegister">Đăng kí</button>
        <button class="btn btn-default" id="btnForget">Quên mật khẩu</button>
    </div>
</div>
</body>
</html>