<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/public/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>

        $(document).ready(function () {
            $("#btnLogin").on('click', function () {
                var email = $("#emailLG").val();
                var pass = $("#pass").val();

                $.ajax({
                    url: '/login?email=' + email + '&pass=' + pass,
                    type: 'get',
                    success: function (data) {
                        if (data.data === 'ok') {
                            window.location.href = '/';
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                })

            });

            $("#btnRegister").on('click', function () {
                var email = $("#emailRG").val();
                var name = $("#name").val();

                $.ajax({
                    url: '/register?email=' + email + '&name=' + name,
                    type: 'get',
                    success: function (data) {
                        alert('ok' + data.data);
                    },
                    error: function (err) {
                        alert(err.message);
                    }
                })

            });

            $("#btnForget").on('click', function () {
                var email = $("#email").val();

                $.ajax({
                    url: '/forget?email=' + email,
                    type: 'get',
                    success: function (data) {
                        alert(data.data);
                    },
                    error: function (err) {
                        alert(err.message);
                    }
                })

            });
            $("#file").on('change', function (event) {
                $('#thongbaoanhdaidien').html('Đang tải lên hình ảnh...');
                    event.preventDefault();
                    // Get the files from input, create new FormData.
                    var files = $('#file').get(0).files,
                        formData = new FormData();
                    console.log(files);
                    if (files.length === 0) {
                        alert('Select atleast 1 file to upload.');
                        return false;
                    }

                    if (files.length > 1) {
                        alert('You can only upload up to 3 files.');
                        return false;
                    }



                    for (var i = 0; i < files.length; i++) {
                        var file = files[i];
                        formData.append('photos[]', file, file.name);
                    }

                    $.ajax({
                        url: 'https://zvc.azurewebsites.net/Upload',
                        method: 'post',
                        contentType: 'multipart/form-data',
                        processData: false,
                        "crossDomain": true,
                        data: formData,
                        success: function (data) {
                            $('#thongbaoanhdaidien').html();
                            $('#hinhdaidien').style.src('https://zvc.azurewebsites.net/'+ data);
                        },
                        error:function (err) {
                            $('#thongbaoanhdaidien').html('Lỗi tải ảnh lên ???');
                        }
                    });
                });
        });

    </script>
    <style>
        input {
            border-bottom: 10px;
        }
    </style>
    <title>Đăng nhập</title>
</head>
<body>
<div class="container">

    <div class="col-lg-6">
        <input type="text" class="form-control" id="emailLG" placeholder="Email" required><br>
        <input type="text" class="form-control" id="pass" placeholder="Mật khẩu" required><br>
        <button id="btnLogin" class="btn btn-success">Đăng nhập</button>
    </div>


    <div class="col-lg-6">
        <input type="text" class="form-control" id="emailRG" placeholder="Email"><br>
        <input type="text" class="form-control" id="name" placeholder="Tên của bạn"><br>
        Chọn 1 ảnh là ảnh đại diện (<b style="color: red"> * </b>)<input id="file" type="file" value="Upload file" name="hinhanh"/> <br/>
        <p id="thongbaoanhdaidien" style="color: green"></p>
        <img src="" id="hinhdaidien">
        <button class="btn btn-primary" id="btnRegister">Đăng kí</button>
        <button class="btn btn-default" id="btnForget">Đăng nhập</button>
    </div>


</div>
</body>
</html>