<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/public/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>

        $(document).ready(function () {
            window.addEventListener('message', function(event) {

                // IMPORTANT: Check the origin of the data!
                if (~event.origin.indexOf('https://zvc.azurewebsites.net/')) {
                    // The data has been sent from your site

                    // The data sent with postMessage is stored in event.data
                    alert(event.data);
                } else {
                    // The data hasn't been sent from your site!
                    // Be careful! Do not use it.
                    return;
                }
            });

            $("#btnLogin").on('click', function () {
                var email = $("#emailLG").val();
                var pass = $("#pass").val();

                $.ajax({
                    url: '/login?email=' + email + '&pass=' + pass,
                    type: 'get',
                    success: function (data) {
                        if (data.data === 'ok') {
                            window.location.href = '/';
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                })

            });

            $("#btnRegister").on('click', function () {
                var email = $("#emailRG").val();
                var name = $("#name").val();
                console.log(window.frames["uploadanhdaidien"].document);
//                $.ajax({
//                    url: '/register?email=' + email + '&name=' + name,
//                    type: 'get',
//                    success: function (data) {
//                        alert('ok' + data.data);
//                    },
//                    error: function (err) {
//                        alert(err.message);
//                    }
//                });
//

            });

            $("#btnForget").on('click', function () {
                var email = $("#email").val();

                $.ajax({
                    url: '/forget?email=' + email,
                    type: 'get',
                    success: function (data) {
                        alert(data.data);
                    },
                    error: function (err) {
                        alert(err.message);
                    }
                })

            });

            $('#chonanhkhac').on('click',function () {

//               $("#uploadanhdaidien").attr('src','https://zvc.azurewebsites.net/');

            });
            function receiveMessage(event)
            {
                // Do we trust the sender of this message?
//                    if (event.origin !== "https://zvc.azurewebsites.net/")
//                        return;
                console.log('message received:  ' + event.data,event);
            }

            window.addEventListener("message", receiveMessage, false);
        });

    </script>
    <style>
        input {
            border-bottom: 10px;
        }
    </style>
    <title>Đăng nhập</title>
</head>
<body>
<div class="container">

    <div class="col-lg-6">
        <input type="text" class="form-control" id="emailLG" placeholder="Email" required><br>
        <input type="text" class="form-control" id="pass" placeholder="Mật khẩu" required><br>
        <button id="btnLogin" class="btn btn-success">Đăng nhập</button>
    </div>


    <div class="col-lg-6">
        <input type="text" class="form-control" id="emailRG" placeholder="Email"><br>
        <input type="text" class="form-control" id="name" placeholder="Tên của bạn"><br>
        <iframe id="uploadanhdaidien" src="https://zvc.azurewebsites.net/" style="border: 0"></iframe><br>
        <button class="btn btn-danger" id="chonanhkhac">Chọn ảnh khác</button>
        <hr>
        <button class="btn btn-primary" id="btnRegister">Đăng kí</button>
        <button class="btn btn-default" id="btnForget">Đăng nhập</button>
    </div>


</div>
</body>
</html>