<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/public/jquery-3.2.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/assets/css/post.css">

    <!--  SEO -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/public/assets/js/menu.js"></script>
    <title>Liên hệ</title>
</head>
<body style="background-color: white">
<nav id="memucode" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-left" href="/"><img style="padding-top: 4px" src="/public/assets/img/tool.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Trang chủ</a></li>
                <% if(User !== undefined){ %>
                <li><a href="/message">Chat công cộng</a></li>
                <li><a href="/livecodepage">Live code</a></li>
                <li><a href="/livecode/registerpage">Register live</a></li>
                <li><a style="color: red" href="/lienhe">Liên hệ</a></li>
                <% } %>
            </ul>
            <% if(User !== undefined){ %>
            <form id="formtimkiem" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Tìm bất cứ thứ gì">
                </div>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" id="nameMenu" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false"><%= User.email %> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile?email=<% User.email %>">Trang cá nhân</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="btnDangXuat" href="#">Đăng xuất</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/#dangbai" class="btn btn-lg btn-primary">Đăng bài</a>
                </li>
                <% } %>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container"><br><br><br><br><br>
    <div class="col-sm-4">
        <h3>Bạn muốn nhắn nhủ điều gì</h3>
        <form action="/">
            <div class="form-group">
                <label for="email">Tin nhắn</label>
                <input type="email" class="form-control" id="email">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <p>- Bạn có thể liên hệ với tôi qua <a
                    href="https://www.facebook.com/profile.php?id=100009115420843">Facebook</a></p> nha: </p>

    </div>
    <div class="col-sm-8">
        <h3>Giới thiệu</h3>
        <p>- Hệ thống để gửi file và chat.</p>
        <p>- Tất cả mọi thứ đều ở dạng công cộng nghĩa là tất cả mọi người đều thấy được nhưng hoạt động của nhau tại
            websites</p>
        <p>- Chức năng chính là để thay thế khi FB không cho gửi file hoặc file quá giới hạn 25MB</p>
        <p>- Gửi ở phòng chat sẽ gửi được file tối đa 500MB nhưng sẽ bị mất sau ít phút (die link)</p>
        <p>- Bằng cách đăng bài viết kèm tệp đính kèm sẽ lưu lại mãi mãi nhưng chỉ tối đa 25MB thôi.</p>
        <p>- Chức năng live code hoàn thiện 30%</p>
        <p>- Phiên bản kế tiếp có các chức năng sau:</p>
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
            <p>- Chạy code Java (live code)</p>
            <p>- Chạy code JS (live code)</p>
            <p>- Đánh giá cho bài viết</p>
            <p>- Tự động hủy bỏ đăng kí khi hết giờ (live code)</p>
            <p>- Quên mật khẩu</p>
            <p>- Đổi mật khẩu</p>
        </div>
    </div>
</div>
</body>
</html>